*,*::before, *::after{
    box-sizing:border-box;
    margin:0;
    padding:0;
    user-select:none;
}
body {
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background-image: linear-gradient(to bottom right, rgba(79, 51, 176,1), rgba(210, 53, 165) );
    
}
.box{
    padding:10px;
    background:#fff;
    margin:0px 20px;
    border-radius:10px;
    box-shadow:  17px 17px 35px #2058a1,
             -17px -17px 35px #2c76d9;
}
.box h2{
    font-size:22px;
    margin-bottom: 20px;
    text-align:center;
    color:#2656ef;
    font-family: 'Varela Round', sans-serif;
    
}
input{
    padding:15px;
    user-select:none;
    height:70px;
    width:300px;
    border-radius:6px;
    border:2px solid rgb(39,152,245);
    font-size:15px;
    outline:none;
    font-family:'Courier Prime',sans-serif;
}
input::placeholder{
    font-size:16px;
}
#button{
font-family:'Poppins',sans-serif;
    font-size:13px;
    margin-top:20px; 
    border: 2px solid rgb(10,139,250);
    height:50px;
    width:100px;
    text-align:center;
    background:rgb(26, 120, 245); 
    display:flex;
    justify-content:center;
    align-items:center;
    color:#fff;
    border-radius:7px;
    cursor:pointer;
}
.btn2{
    margin-left:95px;
}
#button:hover{
    color:#fff;
    background:rgb(236, 6, 44);
    border:2px solid #000;
    transition: 500ms;
}